.home_page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cards_container {
    display: flex;
    background-color: rgb(192, 200, 199);
    flex-direction: column-reverse;
    margin: 24px;
    max-width: 80%;
}
.card {    
    margin: 16px;
}
.home_progress{
    margin-top: 15vh;
}